.header,
.header__left,
.header__input,
.header__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 20px;
}

.header__logo {
  height: 25px;
  margin-left: 20px;
}

.header__input > input {
  flex: 1;
  border: none;
}

.header__input:nth-child(2) {
  background-color: gray;
}
